:root {
  --splash-img: url(https://source.unsplash.com/U_Ff4ohzLSw/1920x1080);
  --journal-color: rgba(
    var(--journal-r),
    var(--journal-g),
    var(--journal-b),
    var(--jounral-o)
  );
  --journal-r: 207;
  --journal-g: 201;
  --journal-b: 190;
  --jounral-o: 0.25;
  --text-color: black;
}

body {
  background: var(--splash-img) center;
  font-family: "Oswald", sans-serif;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

h1 {
  padding: 2%;
  text-align: center;
}

#journal {
  background-color: var(--journal-color);
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  height: 630px;
  width: 55%;
}

#journal-header {
  font-size: 20px;
  font-weight: bold;
}

#journal-settings {
  padding: 10px;
}

#left-nav {
  font-size: 24px;
  font-weight: bold;
  padding-right: 70px;
}

#right-nav {
  font-size: 24px;
  font-weight: bold;
  padding-left: 70px;
}

#settings {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
}

#theme-settings {
  padding: 5px;
}

.is-collapsed {
  height: 0;
  padding: 0;
  transform: scaleY(0);
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}

.is-expanded {
  opacity: 1;
  transform: scaleY(1);
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}
